/*----------Generell-------------*/
:root{
    --primary: #0a1c58;
    --secondary: #112c83;
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    color: #fff;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;

    display:block;
    background-color:var(--primary);
    background-image:
    radial-gradient(at 19% 70%, hsla(244,88%,72%,1) 0px, transparent 50%),
    radial-gradient(at 1% 19%, hsla(336,94%,64%,1) 0px, transparent 50%),
    radial-gradient(at 13% 94%, hsla(49,64%,70%,1) 0px, transparent 50%),
    radial-gradient(at 96% 98%, hsla(215,93%,60%,1) 0px, transparent 50%),
    radial-gradient(at 16% 48%, hsla(301,88%,76%,1) 0px, transparent 50%),
    radial-gradient(at 24% 94%, hsla(8,82%,74%,1) 0px, transparent 50%),
    radial-gradient(at 54% 8%, hsla(264,95%,66%,1) 0px, transparent 50%);
}

/*----------Header&Nav-------------*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/images/grid-g042b0c187_1920.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0a1c58;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/**------aktuell noch nicht verwendet----------
nav ul li a.menu-link-active{
    background: #0a1c58;  
    position: -6px;
    transition: background 0.5x, transform 0.5s ;
    
    display: inline-block;
    border-radius: 2px;
}
/*------aktuell noch nicht verwendet----------*/

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}


.header-text h1 span{
    color: #0a1c58;
}
/*-----------Übermich------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;

}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0a1c58;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #112c83;
    font-size: 14px;

}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*-----------Interessen------------*/
#interessen{
    padding: 30px 0;
}

.interessen-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 70px;
}

.interessen-list div{
    background-color: #262626;
    padding: 50px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5x, transform 0.5s;
}

.interessen-list div i{
    font-size: 60px;
    margin-bottom: 30px;
}

.interessen-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.interessen-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.interessen-list div:hover{
    background: #0a1c58;
    transform: translateY(-10px);
    color: #f8e473
}

/*-----------Portfolio noch anpassen oder löschen------------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0a1c58);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #0a1c58;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0a1c58;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #0a1c58
}

/*-----------Kontakt------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #0a1c58;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #0a1c58;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #0a1c58;
    transition: background 0.5s;
}

.btn.btn2:hover{
    background: #fff;
    color: #0a1c58;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}

/*-----------CSS für kleine Bildschirme wie Smartphones------------*/

/*-----------Ausblenden der Menusymbole wenn nicht Smartphone------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    /*-----------unnötig löschen------------*/
    #header{
        /*-----------Bild Anpassen------------*/
        background-image: url(/images/grid-g042b0c187_1920.jpg)
    }

    /*----------Header------------*/
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    /*-----------Navigation------------*/
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #0a1c58;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /*-----------Generell für Untertitel------------*/
    .sub-title{
        font-size: 40px;
    }

    /*-----------Über mich------------*/
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    /*-----------Kontakt------------*/
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #146b05;
    margin-top: -40px;
    display: block;
}