:root {
    --primary: #0a5811;
    --second: #a51717;
}

html{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;

    display:block;
    background-color:var(--primary);
    background-image:
    radial-gradient(at 19% 70%, hsla(244,88%,72%,1) 0px, transparent 50%),
    radial-gradient(at 1% 19%, hsla(336,94%,64%,1) 0px, transparent 50%),
    radial-gradient(at 13% 94%, hsla(49,64%,70%,1) 0px, transparent 50%),
    radial-gradient(at 96% 98%, hsla(215,93%,60%,1) 0px, transparent 50%),
    radial-gradient(at 16% 48%, hsla(301,88%,76%,1) 0px, transparent 50%),
    radial-gradient(at 24% 94%, hsla(8,82%,74%,1) 0px, transparent 50%),
    radial-gradient(at 54% 8%, hsla(264,95%,66%,1) 0px, transparent 50%);
}

h1{
    color: var(--second);
    font-size: 120px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
  }
  
  .item:nth-child(3n) {
    width: 100%;
  }

